html {
	font-family: sans;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
	margin-bottom: 5px;
}

.grid {
	display: flex;
	flex-flow: row wrap;
}

.grid>* {
	flex-basis: 10em;
	flex-grow: 1;
}

body {
	background: #ffffff;
	font-family: Verdana, Helvetica, Arial, Lucida, sans-serif;
	padding: 10px 0;
	color: #00457b;
}

p {
	padding: 0px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid lightgray;
}

th, td {
	padding: 5px;
	text-align: left;
}

td.field-label {
	width: 10%;
}

tr:nth-child(odd) {
	background-color: #e6e6e6;
}

tr:nth-child(even) {
	background-color: white;
}

a {
	color: #ff8208;
	text-decoration: none;
}

a:focus, a:hover, a:active {
	color: #00457b;
	text-decoration: underline;
}

a.nav {
	color: #000000;
}

.fl {
	color: #BE1345;
}

.nav {
	background-color: #e6e6e6;
	padding: 5px;
	text-align: left;
}

.nav_active {
	background-color: #ffffff;
	padding: 5px;
	text-align: left;
}

.search {
	overflow: hidden;
	padding: 2px;
}

.search input {
	width: 100%;
	padding: 3px;
}

.search span {
	display: block;
	overflow: hidden;
	padding-right: 2px;
}

.search button {
	float: right;
	padding: 2px;
}

.search input, .search button {
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	border-color: lightgray;
}