@()

@main("Ansprechpersonen") {

<h2>Digitalisierte Drucke</h2>

<p>
	<strong>Koordination</strong><br />
	Dr. Silke Schomburg<br />
	Telefon: 0221 / 400 75 - 444<br />
	E-Mail: <a href="mailto:schomburg@@hbz-nrw.de">schomburg@@hbz-nrw.de</a>
</p>

<p>
	<strong>Service</strong><br />
	Anette Seiler<br />
	Telefon: 0221 / 400 75 - 196<br />
	E-Mail: <a href="mailto:seiler@@hbz-nrw.de">seiler@@hbz-nrw.de</a>
</p>

<p>
	<strong>Technik</strong><br />
	Lobid-Team<br />
	Telefon: 0221 / 400 75 - 235<br />
	E-Mail: <a href="mailto:lobid-admin@@hbz-nrw.de">lobid-admin@@hbz-nrw.de</a>
</p>
}
