@()

@main("Impressum") {

<h2>Hochschulbibliothekszentrum des Landes Nordrhein-Westfalen, Köln (hbz)</h2>

<p>Jülicher Straße 6<br />
50674 Köln</p>

<p>Telefon: 0221 / 400 75 - 0<br />
Telefax: 0221 / 400 75 - 180</p>

<p>E-Mail: <a href="mailto:info-hbz@@hbz-nrw.de">info-hbz@@hbz-nrw.de</a><br />
Homepage: <a href="http://www.hbz-nrw.de" target="_blank">http://www.hbz-nrw.de</a></p>

<p>Umsatzsteuer-Identifikations-Nummer: DE 123486775</p>

<p>Das Hochschulbibliothekszentrum des Landes <acronym title="Nordrhein-Westfalen">NRW</acronym> ist eine Einrichtung des öffentlichen Rechts. Es wird gesetzlich vertreten durch Frau Silke Schomburg.</p>

<p>Das hbz untersteht der Dienst- und Fachaufsicht des <a href="https://www.mkw.nrw/" target="_blank">Ministeriums für Kultur und Wissenschaft</a> des Landes Nordrhein-Westfalen, Völklinger Straße 49, 40221 Düsseldorf.</p>

<p>Inhaltliche Verantwortung <acronym title="gemäß">gem.</acronym> § 6 <acronym title="Mediendienste-Staatsvertrag">MDStV</acronym>: Silke Schomburg.</p>

<p><b>Haftungshinweis:</b> Trotz sorgfältiger Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich (<acronym title="vergleiche">vgl.</acronym> § 5 <acronym title="Absatz">Abs.</acronym> 3 <acronym title="Mediendienste-Staatsvertrag">MDStV</acronym>).</p>

}
