@(host: String, port: String)

@main("*") {

<h1>Suchen</h1>

@defining(routes.HomeController.search(q="*")) { url => <a href="@url">Alles</a> | }
@defining(routes.HomeController.search(q="mittelalter", from=5, size=10)) { url => <a href="@url">Mittelalter, Treffer 5-10</a> | }
@defining(routes.HomeController.search(q="*", t="collection")) {url => <a href="@url">Sammlungen</a>},
@defining(routes.HomeController.search(q="*", t="title-print")) {url => <a href="@url">Gedruckte Titel</a>},
@defining(routes.HomeController.search(q="*", t="title-digital")) { url => <a href="@url">Digitalisierte Titel</a> }

<h1>Index</h1>

@defining(s"http://$host:$port/digitalisiertedrucke/collection/_search?q=*") { url => <a href="@url">Sammlungen</a> } | 
@defining(s"http://$host:$port/digitalisiertedrucke/title-print/_search?q=*") { url => <a href="@url">Gedruckte Titel</a> } | 
@defining(s"http://$host:$port/digitalisiertedrucke/title-digital/_search?q=*") { url => <a href="@url">Digitalisierte Titel</a> }

}
