@(host: String, port: String, collections: String, print: String, digital: String)

@main("digitalisiertedrucke") {

<h1>Collections:</h1>

@defining(s"http://$host:$port/digitalisiertedrucke/collection/_search?q=*") { url => <a href="@url">@url</a> }

<pre><code>@collections</code></pre>

<h1>Print:</h1>

@defining(s"http://$host:$port/digitalisiertedrucke/title-print/_search?q=*") { url => <a href="@url">@url</a> }

<pre><code>@print</code></pre>

<h1>Digital:</h1>

@defining(s"http://$host:$port/digitalisiertedrucke/title-digital/_search?q=*") { url => <a href="@url">@url</a> }

<pre><code>@digital</code></pre>

}
