@(id: String, contentPrint: com.fasterxml.jackson.databind.JsonNode, contentDigital: com.fasterxml.jackson.databind.JsonNode, home: controllers.HomeController)

@import play.api.libs.json._
@import tags._

@localLink(link: String) = @{ link.replace("digitalisiertedrucke.de", request.host) }

@main("Details: " + id) {

@defining(Json.parse(contentPrint.toString())) { parsedContentPrint =>
    <h1>@((parsedContentPrint \ "title").asOpt[String].getOrElse(id))</h1>
    <h2>Print</h2>
    <table class='table table-striped table-condensed'>
        @produceRow(home, home.label("medium"), parsedContentPrint \ "medium", (s:String) => Some(s))
        @produceRow(home, home.label("bibliographicCitation"), parsedContentPrint \ "bibliographicCitation",_ => None)
        @produceRow(home, home.label("fulltextOnline"), parsedContentPrint \ "fulltextOnline", (s:String) => Some(s))
        @produceRow(home, home.label("type"), parsedContentPrint \ "type", (s:String) => None)
    </table>
}

@defining(Json.parse(contentDigital.toString())) { parsedContentDigital =>
    <h2>Digital</h2>
    <table class='table table-striped table-condensed'>
        @produceRow(home, home.label("created"), parsedContentDigital \ "created", _ => None)
        @produceRow(home, home.label("publisher"), parsedContentDigital \ "publisher",_ => None)
        @produceRow(home, home.label("medium"), parsedContentDigital \ "medium", (s:String) => Some(s))
        @produceRow(home, home.label("fulltextOnline"), parsedContentDigital \ "fulltextOnline", (s:String) => Some(s))
        @produceRow(home, home.label("type"), parsedContentDigital \ "type", (s:String) => Some(s))
        @produceRow(home, home.label("isPartOf"), parsedContentDigital \ "isPartOf", (s:String) => Some(s))
    </table>
}

}