@(id: String, contentPrint: com.fasterxml.jackson.databind.JsonNode, contentDigital: com.fasterxml.jackson.databind.JsonNode, home: controllers.HomeController)

@import play.api.libs.json._
@import tags._

@defining((Json.parse(contentPrint.toString()), Json.parse(contentDigital.toString()))) { case (parsedContentPrint,parsedContentDigital) =>

@defining(Html((parsedContentPrint \ "title").asOpt[String].getOrElse(id))) { title =>

@main(title.toString) {
    <h1>@title
    <small><a href='@((parsedContentDigital \ "fulltextOnline").asOpt[String].getOrElse((parsedContentDigital \ "fulltextOnline").as[Seq[JsValue]].head.asOpt[String].getOrElse("#")))'>
      @home.label("fulltextOnline")</a> | <a title="Korrekten Volltext-Link melden" href='mailto:lobid-admin@@hbz-nrw.de?subject=Korrekter Volltext-Link für @id'>&#x270e;
    </a></small></h1>
    <table class='table table-striped table-condensed'>
        @produceRow(home, home.label("bibliographicCitation"), parsedContentPrint \ "bibliographicCitation",_ => None)
        @produceRow(home, home.label("type"), parsedContentPrint \ "type", (s:String) => None)
        @produceRow(home, home.label("created"), parsedContentDigital \ "created", _ => None)
        @produceRow(home, home.label("publisher"), parsedContentDigital \ "publisher",_ => None)
        @produceRow(home, home.label("fulltextOnline"), parsedContentDigital \ "fulltextOnline", (s:String) => Some(s))
        @produceRow(home, home.label("isPartOf"), parsedContentDigital \ "isPartOf", (s:String) => Some(s))
    </table>
}

}}
